# templates/subscribe.html
{% extends "base.html" %}
{% block title %}Subscribe{% endblock %}
{% block content %}
<div class="container">
    <div class="card p-4">
        <h2>Subscribe Now</h2>
        <p>$9.99/month for 20 queries.</p>
        <button id="checkout-button" class="btn btn-primary">Subscribe</button>
    </div>
</div>
<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('{{ stripe_pk }}');
    var checkoutButton = document.getElementById('checkout-button');
    checkoutButton.addEventListener('click', function () {
        stripe.redirectToCheckout({
            sessionId: '{{ session_id }}'
        });
    });
</script>
{% endblock %}
